#intellij
.gradle
.idea
*.bin
*.lock
*.class
*.pem

#oauth file
application-oauth.properties
client_secret_90407674602-83rg055fgiotlpgunnb7rljr8nit1j4p.apps.googleusercontent.com.json

#vscode
*.dll
*.json
*.pdb
*.exe
*.cache
*.editorconfig
*.CopyComplete
*.sentinel
*.txt
*.props

#dotnetcore
/dot_net_core